.beautifulck.cornerright_en {
	position: relative;
	z-index: 100;
}

.beautifulck.cornerright_en .beautifulckbg {
	position: absolute;
	z-index: 101;
	height: 99px;
	background-repeat: no-repeat;
	background-position: left top;
}

.beautifulck.cornerright_en.pink .beautifulckbg {background-image: url(images/cornerright_en_pink.png);}
.beautifulck.cornerright_en.red .beautifulckbg {background-image: url(images/cornerright_en_red.png);}
.beautifulck.cornerright_en.orange .beautifulckbg {background-image: url(images/cornerright_en_orange.png);}
.beautifulck.cornerright_en.yellow .beautifulckbg {background-image: url(images/cornerright_en_yellow.png);}
.beautifulck.cornerright_en.green .beautifulckbg {background-image: url(images/cornerright_en_green.png);}
.beautifulck.cornerright_en.blue .beautifulckbg {background-image: url(images/cornerright_en_blue.png);}
.beautifulck.cornerright_en.grey .beautifulckbg {background-image: url(images/cornerright_en_grey.png);}

.beautifulck.cornerright_en h3 {
	position: absolute;
	z-index: 103;
	border: none !important;
}

.beautifulck.cornerright_en .beautifulck_content {
    position: relative;
    z-index: 110;
}